html, p, body, nav, section, article, li, div, h2, h1, img, ul {
	margin: 0 auto;
	padding: 0;
	font-family: "Helvetica", sans-serif;

}

.top {
	padding-top: 2em;
	padding-left: 1em;
	margin-bottom: 2em;
}

.nav-header {
	float: left;
	 
}

.nav-header>li{
	list-style-type: none;
	float: left;
	padding-top: .5em;
	font-size: 1em;
}

.menu-icon {
	
	margin-left: 2em;
	cursor: pointer;
	position: relative;
}

.nav-list {
	background-color: #B3B3B3;
	width: 100%;
	padding: .5em;
	position: relative;
	display: none;
	list-style-type: none;
	text-align: center;
	margin-top: .5em;
}

.nav-list li {

}

.stories-head {
	padding-top: 1em;
	text-align: center;
	padding-bottom: 1em;
	background-color: #0000FF;
}

.stories{
	width: 100%;
}

.images {
	width: 100%;
	text-align: center;
	padding-bottom: 1em;
	background-color: #B3B3B3;
}

.headline {
	padding-top: .5em;
}

.footer {
	text-align: center;
	background-color: #0000FF;
	padding-top: 1em;
	padding-bottom: 1em;
}


img {
	max-width: 100%;
}

.facts {
	list-style-type: ;
}

@media (min-width: 960px){
	.images{
		max-width: 61.75em;
		padding: 0 1em;
		margin: 0 auto;
	}

	.menu-icon {
		display: none;
	}
}